@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Ubuntu:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navlinks {
  font-family: 'Oswald', sans-serif;
  font-weight: 900 !important;
  letter-spacing: 0.7px;
}