* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner-image {
    background: #edf9f1 url('https://c.tadst.com/gfx/n/banner--2021.png') top no-repeat;
    background-size: 2090px auto;
    height: 110px;
    display: flex;
}