* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.banner-image {
    background: #edf9f1 url('https://c.tadst.com/gfx/n/banner--2021.png') top no-repeat;
    background-size: 2090px auto;
    height: 110px;
    position: relative;
    display: flex;
}
.analog-clock__marker {
    transform: rotate(240deg) translateZ(0px);
    transform: rotate(238deg) translateZ(0px);
    font-size: 12px;
    color: aliceblue;
}
@media only screen and (max-width: 768px) {

    .banner-image {
        display: none;
    }

    .banner-mobile {
        background-color: #edf9f1;
        display: block;
        height: 12.5vh;
    }
}